h1 .highlight {
  color: #1399d9;
}

.logo {
  float: left;
  margin-top: 0.4em;
  margin-left: 1em;
}

footer .phone {
  float: left;
  margin-left: 1em;
}

footer .site {
  float: right;
  margin-right: 1em;
}